@function is-num($object) {
  @if type-of($object) == 'number'{
    @return true;
  } @else {
    @return false;
  }
}

@function average($num1, $num2) {
  @return ($num1 + $num2) / 2;
}

@function expt($num, $power) {
  @if $power == 0 {
    @return 1;
  } @else if $power > 0 {
    @return $num * expt($num, $power - 1);
  } @else {
    @return (1 / $num) * expt($num, $power + 1);
  }
}

@function sqr($num) {
  @return expt($num, 2);
}

@function sqrt($num, $guess: 1) {
  @if abs(sqr($guess) - $num) < .000001 {
    @return $guess;
  } @else {
    $better-guess: average($guess, $num/$guess);
    @return sqrt($num, $better-guess);
  }
}
