@function is-string($object) {
  @if type-of($object) == 'string' {
    @return true;
  } @else {
    @return false;
  }
}

@function get-char($str, $idx) {
  @if $idx < 1 or $idx > str-length($str) {
    @return null;
  } @else {
    @return str-slice($str, $idx, $idx);
  }
}

@function str-trim($str) {
  @if get-char($str, 1) == " " {
    $rest: str-slice($str, 2);
    @return str-trim($rest);
  } @else if get-char($str, str-length($str)) == " " {
    $rest: str-slice($str, 1, str-length($str) - 1);
    @return str-trim($rest);
  } @else {
    @return $str;
  }
}

@function str-append($str1, $str2, $separator: "") {
  $str1: str-insert($str1, $separator, str-length($str1) + 1);
  @return str-insert($str1, $str2, str-length($str1) + 1);
}

@function str-prepend($str1, $str2, $separator: "") {
  $str2: str-append($str2, $separator);
  @return str-insert($str1, $str2, 0);
}

@function str-remove($str, $remove, $accum: "") {
  $remove-idx: str-index($str, $remove);
  @if $remove-idx {
    $head: str-slice($str, 1, $remove-idx - 1);
    $tail: str-slice($str, $remove-idx + str-length($remove));
    $accum: str-append($accum, $head);
    @return str-remove($tail, $remove, $accum);
  } @else {
    @return str-append($accum, $str);
  }
}

@function str-replace($str, $old, $new, $accum: "") {
  $replace-idx: str-index($str, $old);
  @if $replace-idx {
    $head: str-slice($str, 1, $replace-idx - 1);
    $tail: str-slice($str, $replace-idx + str-length($old));
    $accum: str-append(str-append($accum, $head), $new);
    @return str-replace($tail, $old, $new, $accum);
  } @else {
    @return str-append($accum, $str);
  }
}

@function str-split($str, $splitter: " ", $accum: ()) {
  $split-index: str-index($str, $splitter);
  @if $split-index {
    $head: str-slice($str, 1, $split-index - 1);
    $tail: str-slice($str, $split-index + 1);
    @if $head != "" {
      $accum: append($accum, $head);
    }
    @return str-split($tail, $splitter, $accum);
  } @else {
    @return append($accum, $str);
  }
}
